<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>Learning SpringBoot</title>
  <link rel="stylesheet" th:href="main.css">
</head>
<body>

<h1>Leaning SpringBoot while traveling by AVE</h1>

<div>
  <table>
    <thead>
    <tr>
      <th>Id</th>
      <th>filename</th>
      <th>Image</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="image : ${images}">
      <td th:text="${image.id}"></td>
      <td th:text="${image.filename}"></td>
      <td>
        <a th:href="@{'/images/' + ${image.filename} + '/raw'}">
          <img th:src="@{'/images/'+${image.filename}+'/raw'}"
               class="thumbnail"/>
        </a>
      </td>
      <td>
        <form th:method="delete"
              th:action="@{'/images/' + ${image.filename}}">
          <input type="submit" value="Delete"/>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
  <form method="post" enctype="multipart/form-data"
        action="/images">
    <p><input type="file" filename="file"/></p>
    <p><input type="submit" value="Upload"/></p>
  </form>
</div>

</body>
</html>